<div class="container below-header">
  <% if !current_user %>
    <%= render "refills/hero" %>
  <% else %>
    <div>
      <h2> <%= link_to "Assessment", assessment_form_path %> </h2>
    </div>
    <div>
      <h2> <%= link_to "Todo", todo_path %> </h2>
    </div>
  <% end %>
</div>
