fieldset {
  // background-color: #919191;
  border: 1px solid #DDD;
  margin: 0 0 0.75em;
  padding: 1.5em;

  h2 {
    font-size: 24px;
  }

  .form-field {
    @include span-columns(4);
    label {
      clear: both;
    }
  }

  .success-message {
    @include span-columns(9);
    height: 40px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    color: white;
    float: right;
    background-color: rgb(134, 190, 89);
  }
}

#dependent-list, #contact-list {
  .asmt-list-item {
    clear: both;

    span {
      @include span-columns(3);
    }

    .delete-record {
      background-color: red;
      height: 20px;
      width: 20px;
      padding: 0;
      padding-bottom: 2px;
    }
  }
}

#dependent-field {
  #dependent-list {
    padding-bottom: 20px;
  }

  #dep-type {
    text-align: center;
  }

  #submit-dep {
    @include span-columns(4);
    margin-top: 20px;
  }
}

#contact-field {
  #contact-list {
    padding-bottom: 20px;
  }

  .form-field {
    @include span-columns(3);
  }

  #submit-con {
    @include span-columns(3);
    margin-top: 30px;
    margin-left: 20px;
    height: 37px;
  }
}
