.header-wrap.landing-header {
  background-color: rgba(255, 255, 255, 0);
}

.header-wrap {
  height: $header-height;
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4285F4;
  border-bottom: 1px solid white;

  header {
    @include outer-container;
    font-family: 'Alegreya Sans SC', sans-serif;

    #logo {
      height: $header-height;
      // width: 60px;
      // background-color: #779c6e;
      display: inline-block;
      padding: 10px 0;

      i, span {
        color: white;
        display: inline-block;
        clear: none;
        float: left;
      }

      i {
        font-size: 3em;
        padding-top: 6px;
      }

      span {
        padding: 5px 0 0 15px;
        font-size: 2em;
      }
    }

    span {
      float:right;
    }

    form {
      display: inline-block;
      float: right;

      // input {
      //   display: inline-block;
      //   float: right;
      //   width: 120px;
      //   height: 30px;
      //   margin: 10px 5px;
      // }
    }

    ul {
      list-style: none;
      display: inline-block;
      float: right;
      li {
        padding: 25px 10px;
        display: inline-block;
        color: white;
        font-weight: 300;
        &:last-child {
          padding-right: 0;
        }
        a:visited {
          color: white;
        }
        a:hover {
          color: orange;
        }
      }

      label {
        font-weight: 300;
      }
    }
  }
}
