.landing {
  background: image-url("aerial-neighborhood-2-opaque.jpg");
  background-size: cover;
  position: absolute;
  height: 600px;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  @include outer-container;

  h1 {
    font-size: 36px;
  }

  .page-content {
    @include span-columns(10);
    @include shift(1);
    padding-top: 30px;
  }
}

.main {
  padding-top: ($header-height - 25px) ;
  z-index: 1;
  position: relative;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Roboto";
  margin: 0;

  p {
    font-weight: 300;
  }

  h1, h2 {
    font-family: "Roboto";
    font-weight: 500;
  }
}

.flash-message {
  position: relative;
  top: 25px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.flash-error {
  color: red;
  border: 1px solid red;
  background-color: lighten(red, 35%);
}

.flash-success {
  color: green;
  border: 1px solid green;
  background-color: rgb(125, 200, 110);
}

.flash-info {
  color: blue;
  border: 1px solid blue;
  background-color: rgb(110, 160, 200);
}
