.container {
  @include outer-container
}

.main {
  padding-top: $header-height ;
}

body {
  background-color: rgb(171, 171, 171);
}

.error-messages {
  color: red;
  border: 1px solid red;
  background-color: lighten(red, 35%);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
