#plan-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(150, 150, 150, 0.5);

}

  #top-plan-block {
    border-top: none;
    margin-bottom: 0px;
  }

  .plan-block {
    h1 {
      text-align: center;
      font-size: 44px;
    }

    @include span-columns(12);
    // @include shift(1);
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid rgba(150, 150, 150, 0.5);
    margin-bottom: 20px;

    h2 {
      font-size: 38px;
    }
  }

  .reaction-list {
    clear: both;

    h3 {
      text-decoration: underline;
    }
    li {
      @include span-columns(10);
      font-weight: 300;
      padding-bottom: 20px;
    }
  }
