#todo {
  // * {
  //   border: 1px solid rgb(242, 220, 250);
  // }

  .prep-dashboard {
    @include span-columns(12);
    clear: both;
    border: 1px solid rgba(150, 150, 150, 0.5);
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);

    h1 {
      margin: 10px 0;
      text-align: center;
    }
  }

  .prep-list {
    float: left;
    @include span-columns(8);
    border: 1px solid rgba(150, 150, 150, 0.5);
    background-color: rgb(255, 250, 250);
    padding: 20px 20px 0 20px;

    .prep-check {
      float: left;
    }

    .prep-item {
      clear: none;
      padding: 5px 0 5px 10px;

      &:hover {
        background-color: rgb(153, 153, 153);
      }

      [data-prep-type="Dependent"] {
        background-color: rgba(149, 192, 255, 0.2);
      }
      [data-prep-type="Home"] {
        background-color: rgba(155, 218, 147, 0.2);
      }
      [data-prep-type="Contact"] {
        background-color: rgba(233, 209, 156, 0.2);
      }
      [data-prep-type="Gear"] {
        background-color: rgba(233, 209, 156, 0.2);
      }

    }
    &:first-child {
      padding-top: 10px;
    }
  }

  .show-prep {
    @include span-columns(3);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(150, 150, 150, 0.5);
    padding: 20px 20px;
    position: fixed;
    right: 145px;
    margin-right: 40px;
    margin-top: 75px;
  }

  .crossed-out {
    text-decoration: line-through;
    color: rgb(120, 120, 120);
  }
}
