<div class="container below-header">
  <h1> <%= current_user.username %>'s Plan </h1>
  <p> Here's what to do if an earthquake hits. </p>
  <div class="plan-content">
    <h2>Right Away:</h2>

  </div>
  <div class="plan-content">
    <h2>Check on Dependents</h2>
      <% if current_user.dependents.count == 0 %>
        You have not added any dependents yet.
      <% else %>
        <% current_user.dependents.each do |d| %>
          <%= d.name %>
        <% end %>
      <% end %>
  </div>

  <div class="plan-content">
    <h2>Grab your gear</h2>

  </div>

  <div class="plan-content">
    <h2>Head to a safe Location</h2>
      <% if current_user.locations.count == 0 %>
        You have not set up any locations yet. Go to the [assessment] to add one!
      <% else %>
        <% current_user.locations.each do |l| %>
          <%= l.name %>
        <% end %>
      <% end %>
  </div>

  <div class="plan-content">
    <h2>Reach out to one of your Contacts</h2>
      <% if current_user.contacts.count == 0 %>
        You have not set up any contacts yet. Go to the [assessment] to add one!
      <% else %>
        <% current_user.contacts.each do |c| %>
          <%= c.name %>
        <% end %>
      <% end %>
  </div>
</div>
