<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><i class="fa fa-life-ring fa-4"></i></a>
		<div class="hero-copy">
			<h1>Personalized Earthquake Preparation</h1>
			<p>Preparing for "The Big One" can be scary, time-consuming, and expensive.</p>
			<p>Ready.city helps you make a disaster preparation plan unique to your home, priorities and budget.</p>
		</div>
    <button id="sign-up"><%= link_to "Sign Up", sign_up_path %></button>
    <button id="sign-in"><%= render "refills/sign_in_popup" %></button>
	</div>
</div>
