<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Sign In</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <h1>Sign In</h1>
      <%= form_tag sign_in_path, :id => 'sign-in-form' do %>
        <div class="modal-content">
          <input type="email", name="email", placeholder="email">
          <input type="password", name="password", placeholder="password">
          <input type="submit", value="Sign In">
        </div>
      <% end %>
    </div>
  </div>
</div>
