<div class="container below-header">
  <div class="page-content">
    <h1> Emergency Preparedness Assessment </h1>
    <p> This assessment will collect information about your home, dependents
      and contacts. It will generate a custom to-do list of steps you can take
      to be more prepared in the event of an earthquake.
    </p>
    <%= render "layouts/home_asmt_form" %>
    <%= render "layouts/dep_asmt_form" %>
    <%= render "layouts/contact_asmt_form" %>
  </div>
</div>
