<div class="container below-header">
  <h1> Emergency Preparedness Assessment </h1>
  <fieldset>
    <p> This assessment will collect information about your home, dependents
      and contacts. It will generate a custom to-do list of steps you can take
      to be more prepared in the event of an earthquake.
    </p>

    <form action="/assessment/<%= @current_user.id%>/update_user" method="post">
      <h2>Personal Information</h2>
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <input type="submit" value="Submit">
    </form>
  </fieldset>
</div>
