<fieldset id="contact-field">
  <h2>Contacts</h2>
  <p class="form-descr">
    Ask a friend or relative who lives outside the state and explain to
    them that after a disaster they will be your means of communicating with
    other family members, both in and out of state. Make sure they understand
    it will be their responsibility to be available to take calls immediately
    following a disater in your area
  </p>
  <form action="/assessment/update_contacts" method="post" class="asmt-form" id="contact-form">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

    <div class="contact-block">
      <p>
        <label for="text_field">Name</label>
        <input type="text" class="text_field" name="con_name">
      </p>
      <p>
        <label for="text_field">Phone</label>
        <input type="text" class="text_field" name="con_phone">
      </p>
      <p>
        <label for="text_field">email</label>
        <input type="text" class="text_field" name="con_email">
      </p>
      <p>
        <label for="text_field">location</label>
        <input type="text" class="text_field" name="con_loc">
      </p>
    </div>

    <button class="add-dep-btn">Add Contact</button>
    <br>
    <input type="submit" value="Save Contacts">
  </form>
</fieldset>
