<div class="card" id="assess-card">
  <div class="card-image"></div>
  <div class="card-header">
    <h4>Assess</h4>
  </div>
  <div class="card-copy">
    <p>Your life is unique, and your disaster preparedness plan should reflect that. Complete a simple assessment of your home, emergency gear, dependents and contacts.</p>
  </div>
</div>

<div class="card" id="prepare-card">
  <div class="card-image"></div>
  <div class="card-header">
    <h4>Prepare</h4>
  </div>
  <div class="card-copy">
    <p>From the assessment, Ready.city generates a customized to-do list of preparations. Progress toward 100% readiness increases as you complete tasks.</p>
  </div>
</div>

<div class="card" id="react-card">
  <div class="card-image"></div>
  <div class="card-header">
    <h4>React</h4>
  </div>
  <div class="card-copy">
    <p>If a natural disaster strikes, you're going to want an action plan. As you finish preparation tasks, your plan is updated with reminders about how to stay safe, where to go, and who to contact.</p>
  </div>
</div>
